.photos {

    background-color: rgb(183, 44, 44);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    border-color: black;
    min-width: 500px;
    border-radius: 5%;
  }
  
  .photo {
    height: auto;
    width: 200px;
    background-color: rgb(255, 109, 172);
    border-radius: 10%;
  }
  
  img:hover{
      opacity: 50%;
      cursor: pointer;
      border-radius: 10%;
  }
  .banana {
    background-color: rgb(244, 229, 198);
    text-align: center;
  }
  .h1 {
    text-align: center;
  }
  
  
  
  .mango {
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    cursor: pointer;
  }
  .mango:hover {
    background-color: rgb(190, 241, 255);
  }
  .mango:active {
    background-color: rgb(191, 191, 191);
  }
.slideImg {
  height: auto;
  width: 200px;
  border-radius: 10%;
 
  }