body {
background: linear-gradient(90deg, rgb(128, 126, 160) 0%, rgb(200, 141, 196) 50%, rgb(151, 202, 212) 100%);
}
.box {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;      
   
}  

.container {
  display: flex;
  font-size: 30px;
  text-align: center;          
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10%;
  margin: 4px;
  margin-left: 10%;
  margin-right: 10%;

}
* {
  box-sizing: border-box;
}

.left {
  background-color: #fffbe1;
  padding: 10px;
  width: 20%;
  border-radius: 10%;

}


.right {
  background-color: rgba(255, 242, 211, 0.44);
  padding: 10px;
  flex: 70%;
 
  
}

img:hover{
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 10%;
}
.header {
 
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  font-size: 1.75vw;
  background-image: url(./Images/forest-g20ea03b8e_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vw;
  font-family: 'Libre Baskerville', serif;
  

}
