/* this is the colour of the background */
body {
  background: linear-gradient(
    90deg,
    rgb(128, 126, 160) 0%,
    rgb(200, 141, 196) 50%,
    rgb(151, 202, 212) 100%
  );
}
/* this is the styling for every button */
button {
  background-color: rgb(251, 246, 223);
  color:#975757;
  box-shadow: 0 1px 5px #120c3876, 0 1px 5px 0 #9a3f6b76;
  border-style: dotted;
  border-color:  rgb(251, 246, 223);
  padding: 5px;
  font-size: 20px;
}
/* when you hover over a button, the cursor turns into a pointer */
button:hover {
  cursor: pointer;
}
/* this hides the box when the page loads which is then shown after clicking on the get results button */
.box {
  display: none;
}
/* this is css for the results boxes */
.container {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  /* text */
  font-size: 30px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  color: #000000;
	font-size: 30px;
	-webkit-text-stroke: 0.1px #975757;
	text-shadow: 0px 2px 4px rgba(255, 255, 255, 0);
/* spacing */
  margin: 4px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
}
* { 
  box-sizing: border-box;
}
/* this is styling for the image side of the results */
.left {
  background-color: #fffbe176;
  padding: 10px;
  width: 20%;
  border-radius: 10%;
  transform: scale(0.95);
  display: block;
}
/* this is styling for the text side of the results */
.right {
  background-color: #fffbe176;
  padding: 10px;
  flex: 70%;
}
/* when you hover over an image, it expands */
img:hover {
  transform: scale(1);
  cursor: pointer;
}
/* this is styling for the top bar */
.topnav {
  background-color:  rgb(251, 246, 223);
  overflow: hidden;
  box-shadow: 0 1px 5px #120c3876, 0 1px 5px 0 #9a3f6b76;

}

/* this is the styling for the text inside the top bar(this code was stolen from somewhere) */
.topnav a {
  float: left;
  color: #975757;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  
}

/* this adds colour to the icon bit*/
.topnav a.active {
  background-color: #d18484;
  color: rgb(253, 247, 216);

}
/* this adds styling to the reason for error on the error screen */
.reason{
  color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	-webkit-text-stroke: 0.1px #975757;

  background-color: #fffbe176;
  padding: 10px;
  flex: 70%;
}
.capturedImage{
  width: 650px;
  height: 490px;
  position:relative;
  top: 80px;
  display:block;
  border-style:solid; 
  border-color:rgb(251, 246, 223);
  border-radius:3px;
  border-width:5px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  box-shadow: 0 1px 5px #120c3876, 0 1px 5px 0 #9a3f6b76;
}
.result{
  display: none;
}
.camera {
  display: flex;
  justify-content: space-around;
  
}

#startCamera {
  margin: 2vw;
  height: fit-content;
}
#stopCamera{
  margin: 2vw;
  height: fit-content;
}
#takePhoto {
  margin: 2vw;
  height: fit-content;
}
#submit{
  margin: 2vw;
  height: fit-content;
}
#webcam {
  width: var(--width);
  height: var(--height);
  position:relative;
  top: 80px;
  display:block;
  border-style:solid; 
  border-color:rgb(251, 246, 223);
  border-radius:3px;
  border-width:5px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  box-shadow: 0 1px 5px #120c3876, 0 1px 5px 0 #9a3f6b76;
}
#canvas{
  display: inline-block;
  display: none;
  overflow: auto;
}
#getResults{
  display:flex;
  margin-left: auto;
  margin-right: auto;
}