
.box {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;         /* horizontal alignment */
   
}  

.container {
  display: flex;
  font-size: 25px;
  text-align: center;            /* essential for this method to work */
  background-color: lightyellow;
  border: 2px solid black;
  border-radius: 5px;
  margin: 4px;
  margin-left: 100px;
  margin-right: 100px;
}
* {
  box-sizing: border-box;
}

.left {
  background-color: #f1f1f1;
  padding: 10px;
  width: 30%;
  border-radius: 10%;

}

.right {
  background-color: rgb(196, 220, 255);
  padding: 10px;
  flex: 70%;
  
}
/* @media (max-width: 1000px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
} */
.hairImg {
  width: 300px;
}